.element__pseudo-like {
  margin-right: 20px;
  margin-top: 31px;
  width: 22px;
  height: 19px;
  border: none;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  background-image: url(./like.png);
}